<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tour.donnees.journal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".JournalApplication"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Journal"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Journal.Splash"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.login.SignInActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.main.MainPageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.section.SectionPageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.Journal.Toolbar"/>
        <activity
            android:name=".presentation.article.ArticleActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>